html {
  font-family: sans-serif;
}
body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}

body > * {
  text-align: center;
}

ul#dragons {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: initial;
}
